body {
    font-family: "Wittgenstein", serif;
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #ffffff;
    margin: 0;
}

.card {
    position: relative;
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 5px 8px rgb(0, 0, 0);
    padding: 70px;
    max-width: 90%; 
    text-align: center;
    overflow: hidden;
    margin: 20px; 
}

.diagonal-strip {
    position: absolute;
    top: -20%; 
    right: 0;
    width: 200%; 
    height: 20%; 
    background-color: rgba(255, 0, 0, 0.826);
    transform: rotate(-45deg);
    transform-origin: top right;
    z-index: 0;
}


.content {
    position: relative;
    z-index: 1;
}

h1 {
    color: black;
}

p {
    color: black;
    font-size: large;
}

p a {
    color: black;
    font-size: large;
    transition: color 0.3s ease; 
}



.hidden {
    display: none;
}


/* Estilos adicionales para hacer la invitación responsive */

@media (max-width: 768px) {
    .card {
        padding: 30px;
    }
    
    .diagonal-strip {
        height: 25%;
    }
    
    h1 {
        font-size: 2rem;
    }
    
    p {
        font-size: 1rem;
    }
    
    button {
        padding: 8px 16px;
    }
}
